<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Moderniz Mimarlık</title>
    <link rel="icon" type="image/x-icon" href="~/ArchitectureTemplate/img/logo.png" style="font-size: 16px;">

</head>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
</html>
