<footer class="footer footer_bg">
    <div class="footer_top">
        <div class="container-fluid p-0">
            <div class="row no-gutters ">
                <div class="col-xl-3 col-12 col-md-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="index.html">
                                <h3>Moderniz Mimarlık</h3>
                               @* <img src="~/ArchitectureTemplate-1/img/footer-logo.png" alt="">*@
                            </a>
                        </div>
                        <ul class="social_links">
                           <span class="right_info">
                                <a href="https://www.instagram.com/modernizmimarlikmuhendislik/" target="_blank"> <i class="fa-brands fa-instagram" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa-brands fa-facebook" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa-brands fa-twitter" style="color:aliceblue"></i> </a>                           
                                <a href="#"> <i class="fa-brands fa-pinterest" style="color:aliceblue"></i> </a>
                            </span>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-12 col-md-8">
                    <div class="footer_header d-flex justify-content-between">
                        <div class="footer_header_left">
                            <h2>Hayalinizdeki mekanı yaratmak için bize ulaşın.</h2>
                            <p>Estetiğin ve fonksiyonelliğin buluştuğu mimari tasarımlar. </p>
                        </div>
                        <div class="footer_btn">
                            <a href="/Home/Index/" class="boxed-btn2">Bize Ulaşın</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-8 col-12 col-md-12">
                            <div class="row">
                                <div class="col-xl-4 col-12 col-md-4">
                                    <div class="footer_widget">
                                        <h3 class="footer_heading">
                                            Navigasyon
                                        </h3>
                                        <ul class="quick_links">
                                            <li><a href="/Home/architectureblog/">Anasayfa</a></li>
                                            <li><a href="/Home/architectureblog/#about">Hakkımızda</a></li>
                                            <li><a href="/Home/architectureblog/#ourprojects">Projeler</a></li>
                                            <li><a href="/Home/architectureblog/#service">Servisler</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-12 col-md-4">
                                    <div class="footer_widget">
                                        <h3 class="footer_heading">
                                            Servis
                                        </h3>
                                        <ul class="quick_links">
                                            <li>
                                                <a href="#">
                                                    İç mekan
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Dış
                                                </a>
                                            </li>
                                            <li><a href="#"> Çevre</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-12 col-md-4 ">
                                    <div class="footer_widget">
                                        <h3 class="footer_heading">
                                            İletişim
                                        </h3>
                                        <ul class="quick_links">
                                            <li><a href="#">+90 552 736 6035</a></li>
                                            <li><a href="#">info@moderniz.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy_right">
        <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>
