<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ararat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/ArchitectureTemplate-1/img/favicon.png">

    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/magnific-popup.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/themify-icons.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/nice-select.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/flaticon.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/animate.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/slicknav.css">
    <link rel="stylesheet" href="~/ArchitectureTemplate-1/css/style.css">
</head>

<body>

    @await Html.PartialAsync("header")




    <div class="project_details">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="project_details_left">
                        <div class="single_details">
                            <h3>
                                Mimari plan tasarla <br>
                                ve inşa et
                            </h3>
                            <p>
                                Mimarlık, hem sanat hem de bilimdir. Bizler, bu iki öğeyi ustalıkla harmanlayarak, müşterilerimizin hayallerini gerçeğe dönüştürüyoruz. Yaptığımız her yapıda, kaliteli malzemeler ve modern teknolojiler kullanarak, sadece göz alıcı değil, aynı zamanda sağlam ve dayanıklı eserler yaratıyoruz.
                            </p>
                            <p>
                                Her projemizde, işlevsellik ve estetik arasındaki mükemmel dengeyi sağlamak için özenle çalışıyoruz. Müşterilerimizin ihtiyaçlarını ve taleplerini dinleyerek, onların hayallerini gerçeğe dönüştürüyoruz. Her adımda müşteri memnuniyeti bizim için önceliklidir.
                            </p>
                            <p>Yaptığımız her yapının, ortaya çıkardığımız her tasarımın bir hikayesi vardır. Her bir yapının, mimarisi, malzemeleri ve işlevi gibi detayları, bu hikayenin bir parçasıdır. Bizler, her yapının hikayesini en ince ayrıntısına kadar anlamak ve müşterilerimizin hayallerini bu hikayenin içine yerleştirmek için çalışıyoruz.</p>
                            <p>
                                Tasarım ve inşaat sürecinde, işbirliği ve iletişim bizim için çok önemlidir. Müşterilerimizle sıkı bir şekilde çalışarak, her ayrıntıyı dikkatlice planlıyor ve her adımda doğru yolda olduğumuzdan emin oluyoruz.
                            </p>
                            <p>
                                Yaptığımız her yapı, sadece müşterilerimizin ihtiyaçlarını karşılamakla kalmaz, aynı zamanda çevresine de uyum sağlar. Her yapı, bulunduğu çevrenin doğal güzelliklerine uyum sağlayacak şekilde tasarlanır. Bizler, doğanın bir parçası olduğumuzun bilinciyle hareket eder, bu nedenle çevreye saygı gösteririz.
                            </p>
                            <p>
                                Her projemizde, yaratıcılık, özgünlük ve kaliteye öncelik veriyoruz. Yaptığımız her yapı, sizin için bir sanat eseri olarak kalacak ve her zaman hayranlık uyandıracak.
                            </p>
                        </div>
                 
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="projects_details_info">
                        <div class="details_thumb">
                            <img src="~/ArchitectureTemplate-1/img/project/details_info.png" alt="">
                        </div>
                        <div class="details_info">
                            <h3>Proje Bilgi</h3>
                            <div class="details_info_list">
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Müşteri</span>
                                    <span class="right_info">Emir Balcı</span>
                                </div>
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Kategori</span>
                                    <span class="right_info">Dış</span>
                                </div>
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Tarih</span>
                                    <span class="right_info">Ocak 13, 2023</span>
                                </div>
                                <div class="single_details_info d-flex justify-content-between align-items-center">
                                    <span class="left_info">Değerlendirme</span>
                                    <span class="right_info star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="project_share">
                        <div class="single_details_info d-flex justify-content-between align-items-center">
                            <span class="left_info">Sosyal Medya</span>
                            <span class="right_info">
                                <a href="#"> <i class="fa fa-facebook" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa fa-twitter" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa fa-instagram" style="color:aliceblue"></i> </a>
                                <a href="#"> <i class="fa fa-pinterest-p" style="color:aliceblue"></i> </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testmonial_area testimonial_bg overlay2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>
                        <div class="single_testmonial">
                            <div class="testmonial_info text-center">
                                <div class="author">
                                    <img src="~/ArchitectureTemplate-1/img/testmonial/author.png" alt="">
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor
                                    incididunt ut
                                    <br> labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                                    Risus
                                    commodo
                                    viverra <br> maecenas accumsan lacus vel facilisis.
                                </p>
                                <div class="author_name">
                                    <h4>-MITHILA</h4>
                                    <span> Designer at Colorlib</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("footer")

    <script src="~/ArchitectureTemplate-1/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/popper.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/bootstrap.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/owl.carousel.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/isotope.pkgd.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/ajax-form.js"></script>
    <script src="~/ArchitectureTemplate-1/js/waypoints.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.counterup.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/scrollIt.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.scrollUp.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/wow.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/nice-select.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.slicknav.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.magnific-popup.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/plugins.js"></script>

    <script src="~/ArchitectureTemplate-1/js/contact.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.form.js"></script>
    <script src="~/ArchitectureTemplate-1/js/jquery.validate.min.js"></script>
    <script src="~/ArchitectureTemplate-1/js/mail-script.js"></script>

    <script src="~/ArchitectureTemplate-1/js/main.js"></script>

</body>

</html>

