<div class="modal" id="DeleteCategoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Emin Misin ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Kategoriyi silmek istediğine emin misin ? <br />
                    Eğer silersen admin panelinde kategori sayfasında kategori güncelle diyerek tekrar kategoriyi aktif hale getireiblirsin...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Değişikliği Kaydet</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>